:root {
    --text-color: #000;
}


body {
    background-color: #121212;
}

a {
    text-decoration: none;
}

.col-md-2-5{
    flex: 0 0 auto;
    width: 20%;
}

.item__margin-top {
    margin-top: 12px;
    margin-bottom: 12px;
}

.item__margin-top a {
    display: block;
}

.none-btn {
    display: none!important;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.border-radius {
    border-radius: 50px;
}

.center__ {
    text-align: -webkit-center;
}

.float-right {
    float: right;
}