
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Music</title>

    <link href="~/asset/user/style-login-reg.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <form action="~/Home/Login" , method="post">


        <div class="login">
            <div class="logo">
                <p>
                    <i class="fa-solid fa-music"></i>
                    Music
                </p>
            </div>

            <!-- login with -->
            <div class="container">
                <p class="container__header">To continue, log in to Music.</p>
                <div class="container__login-with">
                    <!-- button -->
                    <button class="btn btn--fb">
                        <p class="">
                            <i class="icon fa-brands fa-square-facebook"></i>
                            Continue with Facebook
                        </p>
                    </button>
                    <button class="btn btn--gg">
                        <p class="">
                            <span class="icon-gg"></span>
                            Continue with google
                        </p>
                    </button>
                    <button class="btn btn--phone">
                        <p class="">
                            <i class="icon fa-solid fa-square-phone"></i>
                            Continue with Phone Number
                        </p>
                    </button>
                </div>

                <div class="line">
                    <hr>
                    <p>OR</p>
                    <hr>
                </div>

                <!-- login with account -->
                <div class="form">
                    <!-- form login -->
                    @{
                        if (TempData["Message"] != null)
                        {
                                        <p style="color: green;">
                                            @TempData["Message"]
                                        </p>
                        }
                    }
                    @{
                        if (ViewBag.Message != null)
                        {
                            <p style="color: red;">
                                @ViewBag.Message
                            </p>
                        }
                    }
                    <div class="user-address">
                        <p class="form__user">Username</p>
                        <input type="text" name="Name" placeholder="Username" class="form__input-user">
                    </div>

                    <div class="user-password">
                        <p class="form__password">Password</p>
                        <input type="password" name="Password" placeholder="Password" class="form__input-password">
                    </div>
                    <!-- forgot password-->
                    <a href="" class="forgot-password">Forgot your password?</a>
                </div>


                <div class="zxc">
                    <!-- remember password-->
                    <div class="remember">
                        <input type="checkbox" class="remember__checkbox">
                        <p>Remember me</p>
                    </div>
                    <button class="btn btn--login">Login</button>
                </div>

                <hr class="last-line">

                <p class="asd">Don't have an account?</p>
                <div class="signpFor">
                    <button class="btn btn--signUpFor">Sign up for Spotify</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>