
@{
    Layout = null;
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up - Music</title>

    <link href="~/asset/user/style-login-reg.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap"
          rel="stylesheet">
</head>

<body>
    <div class="signup">
        <div class="logo">
            <p>
                <i class="fa-solid fa-music"></i>
                Music
            </p>
        </div>

        <!-- sign up with -->
        <div class="container">
            <p class="container__header">Sign up for free to start listening.</p>
            <div class="container__login-with">
                <!-- button -->
                <button class="btn btn--fb btn--fb--signup">
                    <p class="">
                        <i class="icon fa-brands fa-square-facebook"></i>
                        Sign up with Facebook
                    </p>
                </button>
                <button class="btn btn--gg btn--gg--signup">
                    <p class="">
                        <span class="icon-gg"></span>
                        Sign up with Google
                    </p>
                </button>
            </div>

            <div class="line">
                <hr>
                <p>OR</p>
                <hr>
            </div>

            <!-- create account -->
            <div class="form">
                <form action="~/Home/Register" method="POST" class="form-register">
                    <!-- form sign up -->
                    @{
                        if (ViewBag.Message != null)
                        {
                            <p style="color: red;">
                                @ViewBag.Message
                            </p>
                        }
                    }
                    <div class="user-profile-name">
                        <p class="form__profile-name">Create a account name</p>
                        <input type="text" placeholder="Enter a account name." class="form__input-profile-name" name="username">
                    </div>
                    <div class="user-password">
                        <p class="form__password">Create a password</p>
                        <input type="password" placeholder="Create a password." class="form__input-password" name="password">
                    </div>


                    <div class="signup-btn">
                        <button type="submit" class="btn btn--signup">Sign up</button>
                    </div>
                </form>

                <p class="login">
                    Have an account?
                    <a href="~/Home/Login">Login</a>.
                </p>
            </div>
        </div>
    </div>
</body>

</html>
