body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    
}
.btnSongNumber{
    background-color: #24ca0a;
    --bs-btn-font-size: 0.9rem;
}
.btnUpdate{
    --bs-btn-font-size: 0.83rem;
}


.menu__bar {
    display: flex;
    align-items: flex-end;
}

.menu__bar a{
    padding: 20px;
}

/* home page */
.header {
    height: 73px;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: hsl(0, 0%, 2%);
}

.header .col-10 {
    position: fixed;
    right: 0;
}
/* container */

.folder-list {
    margin-top: 73px;
}

.menu-bar {
    height: 100vh;
    background-color: #000000;
    z-index: 2;
}

.menu-bar {
    position: fixed;
    left: 0;
    z-index: 2;
}

/* .list-music-item {
    height: auto;
} */

.menu-bar li:hover {
    color: #333;
}


.title-app {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 56px;
}

.nav-item {
    display: flex;
    cursor: pointer;
}

.nav-item a {
    color: #b3b3b3;
    width: 100%;
}


.nav-item a i {
    margin-right: 5px;
    width: 10%;
    margin-top: 12px;
}

.nav-item .margin-top {
    margin-top: 8px;
    padding-right: 7px;
}

.search-bar {
    height: 10vh;
}

.d-flex button:first-child {
    margin-right: 3%;
}

.title-items {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.title-items p{
    font-weight: 700;
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.6rem;
}

.title-items a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.center-item {
    line-height: 40px;
}

.folder-list {
    background-color: #121212;
}

.folder-list {
    position: absolute;
    right: 0;
}

.folder-list_header {
    background-color: #040404;
    margin: 0 20px;
}

.folder-list form {
    margin-right: 2%;
}

.content-items {
    background-color: #181818;
    max-width: 270px;
    height: 100%;
}

.content-items .img-size {
    height: 70%;
}

.content-items h5, .name-singer{
    margin-left: 10%;
}

.content-items h5{
    color: #a7a7a7;
    font-size: 1.2rem;
    line-height: 1.2rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.content-items .name-singer{
    color: #989898;
    font-size: 1rem;
    line-height: 1rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.image a {
    display: block;
    text-decoration: none;
}

.image img{
    width: 80%;
    margin: 10%;
}

.control-b-n{
    width: 100%;
    height: 56px;
    line-height: 56px;
    display: block;
}

.back-next--button i{
    color: #a7a7a7;
    width: 20px;
}

/* search page */

.search-music {
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: #fff;
    border-radius: 50px;
}

.search-input {
    width: 100%;
    border-radius:50px 0 0 50px;
    border: none;
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    outline: none;
}


.search-btn {
    border-radius: 50%;
    border: #000000;
    color: #000;
}

.login-btn {
    margin-left: 20px;
}

.login-btn .btn{
    color: #fff;
    border: 1px solid #fff;
}

.login-btn .btn:hover {
    background-color: #fff;
    color: #000;
}

.search-btn:hover {
    background-color: #fff;
    color: #000;
}

.categoty-content-items {
    background-color: #989898;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.categoty-content-items::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.categoty-content-items h5 {
    font-size: 1.2rem;
    position: absolute;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
}

.categoty-content-items img {
    right: 0;
    /* -webkit-transform: rotate(25deg) translate(18%,-2%); */
    transform: rotate(25deg) translate(18%,-2%);
    
}

.img-size-category {
    height: 100%;
}
.img-size-category img{
    bottom: 0;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    height: 100px;
    position: absolute;
    width: 100px;
    object-fit: cover; 
    object-position: center center;
}




/* responsive */

@media (max-width: 999px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
    .folder-list_header {
        height: 56px;
    }
}

@media (max-width:980px) {
    .menu-bar{
        display: none;
    }
    .folder-list {
        display: block;
        max-width: 999px;
        width: 100%;
    }
}

@media (max-width:777px) {
    .col-sm-6{
        flex: 0 0 auto;
        width: 16.66666667%;
    }
}