@model  List<Web_music.Models.DisplaySong>
@{
    Layout = null;
    ViewBag.Title = "GetSongAlbum";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/8e44eaf2c8.js" crossorigin="anonymous"></script>
    <link href="~/asset/admin/css/style.css" rel="stylesheet" />
    <title>Music</title>

</head>
@*<% //In case, if Admin session is not set, redirect to Login page
    if((request.getSession(false).getAttribute("Admin")== null) )
    {
    %>
    <jsp:forward page="/pages/login.jsp"></jsp:forward>
    <%} %>*@
<body>
    <div class="header">
        <div class="col-2"></div>
        <div class="col-10">
            <nav class="navbar navbar-expand-lg">
                <div class="folder-list_header collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- back next button -->
                </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid">
        <div class="main">
            <div class="row">
                <div class="menu-bar col-2">
                    <div class="navbar-nav me-auto mb-2 mb-lg-0">
                        <div class="title-app">
                            <p>Music Web</p>
                        </div>
                    </div>
                    <!-- nemu bar -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Index">
                                <i class="fa-solid fa-house"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Search/IndexHome">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                Search
                            </a>
                        </li>


                    </ul>
                </div>
                @{
                    String nameAlbum = "";
                    foreach (var item in Model)
                    {
                        nameAlbum = item.Name_ALbum;
                        break;
                    }

                }
                <div class="folder-list col-10">

                    <div class="list-items">
                        <!-- Name category vs see all music in ccategory-->
                        <div class="title-items">
                            <p>Song Album @nameAlbum Manager</p>


                        </div>

                    </div>
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Music Name</th>
                                <th scope="col">Singer</th>
                                <th scope="col">Category</th>
                                <th scope="col">Act</th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.song.NAME_SONG </td>
                                        <td>@item.Name_Singer</td>
                                        <td>@item.Name_Genre </td>
                                        <td>
                                            <a href="~/Song/PlaySongHome?id=@item.song.ID_SONG"
                                               class="btn btn-primary btn-lg active btnUpdate" role="button" aria-pressed="true">Play</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>

</body>
</html>
